@using BADCIrrigationEquipmentSurvey.Models.ViewModels
@{
    ViewData["Title"] = "UpazilaWiseIrrigationReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {

    <link href="~/css/datetimepicker.css" rel="stylesheet" />
    <link href="~/css/fixedtablestyle.css" rel="stylesheet" />
    
    <style>
        .form-view {
            border: 0 none;
            margin: 0;
            padding: 0 15px;
            color: #135;
        }

        .data-view {
            border: 1px solid #ccc;
            margin: 0 -15px;
            padding: 8px;
            background: rgba(200, 240, 245, 0.03);
            background-color: #fcfeff;
            overflow: auto;
        }

        .table {
            border: 1px solid #ddd;
            margin: 0 auto;
        }

            .table td, .table > tbody > td,
            .table th, .table > thead > th,
            .table > tr:nth-child(even) > td,
            .table > tbody > tr:nth-child(even) > td,
            .table > tr:nth-child(odd) > td,
            .table > tbody > tr:nth-child(odd) > td {
                border: 1px solid #ddd !important;
                padding: 5px;
                text-align: left;
                color: #235;
                font: 500 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
                background: #fff;
                /*font-family: Cambria, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
            }

            .table th, .table > thead > th,
            .table > thead > tr > th {
                padding: 5px;
                text-align: center !important;
                vertical-align: middle !important;
                color: #125;
                font: 500 14px/1.42857 Cambria, "Helvetica Neue", Helvetica, Arial, sans-serif;
                background-color: #f0f7f8;
            }

            .table > tr.sub-header-tr > th,
            .table > thead > tr.sub-header-tr > th {
                padding: 2px !important;
            }

                .table th i,
                .table > tr.sub-header-tr > th > i,
                .table > thead > th > i,
                .table > thead > tr > th > i {
                    font: italic 500 12px/1.42857 Cambria, "Helvetica Neue", Helvetica, Arial, sans-serif;
                }

            .table > tbody > tr:nth-child(even) > td {
                padding: 5px;
                background: #fafdfe !important;
            }

            .table > tr > td > input,
            .table > tr > td > select,
            .table > tbody > tr > td > input,
            .table > tbody > tr > td > select {
                width: 120px;
                padding: 3px 5px !important;
                text-align: center;
            }

                .table > tr > td > input.dist-code,
                .table > tr > td > input.upaz-code,
                .table > tr > td > input.union-code,
                .table > tr > td > input.mauza-name,
                .table > tbody > tr > td > input.dist-code,
                .table > tbody > tr > td > input.upaz-code,
                .table > tbody > tr > td > input.union-code,
                .table > tbody > tr > td > input.mauza-name {
                    text-align: left;
                }

                .table > tr > td > input.decimals,
                .table > tr > td > input.integers,
                .table > tr > td > input.survey-dates,
                .table > tbody > tr > td > input.decimals,
                .table > tbody > tr > td > input.integers,
                .table > tbody > tr > td > input.survey-dates {
                    width: 85px;
                    text-align: center;
                }

        .dist-code,
        .upaz-code,
        .union-code,
        .mauza-name {
            text-align: left;
        }

        .decimals,
        .integers,
        .survey-date,
        .survey-dates {
            text-align: center;
        }

        .row {
            border-color: #ccc;
            border-style: solid;
            border-width: 1px 1px 0;
            margin: 0 -15px;
            padding: 0;
            /*background: rgba(200, 240, 245, 0.03);*/
            background-color: #fcfeff;
        }

            .row > [class*="col-"] {
                border: 0 none;
                margin: 0;
                padding: 5px 12px;
            }

                .row > [class*="col-"] > [class*="title-"],
                .row > [class*="col-"] > label,
                .row > [class*="col-"] > .control-label {
                    margin: 6px;
                    padding: 0;
                    color: #137;
                    font: 600 14px/1.42857 Cambria, "Helvetica Neue", Helvetica, Arial, sans-serif;
                }

            .row > .col-auto {
                width: auto;
                max-width: 100%;
                padding: 5px 12px;
            }

        .btn-action {
            min-width: 80px;
            text-align: center !important;
            vertical-align: middle !important;
        }

            .btn-action span.glyphicon {
                margin: 4px;
                font-size: 23px;
                color: #158;
            }

                .btn-action span.glyphicon:hover {
                    color: #28d;
                }

            .btn-action span.glyphicon-remove:hover {
                color: #f53713 !important;
            }


        .data-title {
            margin: 20px 0 5px 0;
            color: #035;
            font: 500 18pt/1.42857 Roboto, Tahoma, Geneva, Verdana, sans-serif;
            text-align: left;
        }

        .data-sub-title {
            margin: 5px 0;
            color: #058;
            font: 500 14pt/1.42857 Roboto, Tahoma, Geneva, Verdana, sans-serif;
            text-align: left;
        }
    </style>

}
<div style="margin: 0 auto; padding: 0;">

    <div style="border-bottom: 2px solid #135; margin: 5px auto; text-align:center;">
        <strong class="data-title">Upazila Wise Irrigation Equipment used, Area Irrigated and Benefitted Farmer</strong>
        <br />

    </div>
    <div class="form-view">
        <div id="multi-form-wrapper" class="data-view multi-form-wrapper">
            <table id="multi-form-view" class="table table-responsive multi-form-view">
                <thead>
                    <tr>
                        <th rowspan="3">SL No</th>
                        <th rowspan="3">Division</th>
                        <th colspan="12">LOW LIFT PUMP OPERATED BY ELECTRICITY AND DIESEL</th>
                    </tr>
                    <tr>
                        <th rowspan="2">Organization</th>
                        <th colspan="5">LLP Operated by Electricity</th>
                        <th colspan="3">LLP Operated by Diesel</th>
                        <th colspan="3">Total</th>
                    </tr>

                    <tr>
                        <th>PDB</th>
                        <th>REB</th>
                        <th>Total</th>
                        <th>Area</th>
                        <th>Farmers</th>
                        <th>Unit</th>
                        <th>Area</th>
                        <th>Farmers</th>
                        <th>Unit</th>
                        <th>Area</th>
                        <th>Farmers</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>


                    </tr>

                </thead>

                <tbody>
                    @*public string Upazila { get; set; }
                        public double PDBCountGroupByBADC { get; set; }
                        public double REBCountGroupByBADC { get; set; }

                        public double PDBCountGroupByOthers { get; set; }
                        public double REBCountGroupByOthers { get; set; }

                        public double FarmrsCountGroupByBADSAndDieselEngines { get; set; }
                        public double FarmrsCountGroupByOthersAndDieselEngines { get; set; }

                        public double FarmrsCountGroupByBADSAndElectricityEngines { get; set; }
                        public double FarmrsCountGroupByOthersAndElectricityEngines { get; set; }

                        public double AreaCountGroupByBADSAndDieselEngines { get; set; }
                        public double AreaCountGroupByOthersAndDieselEngines { get; set; }

                        public double AreaCountGroupByBADSAndElectricityEngines { get; set; }
                        public double AreaCountGroupByOthersAndElectricityEngines { get; set; }*@
                    @{ var c = 1;}

                    @foreach (ReportViewModel item in Model)
                    {
                        <tr>
                            <td rowspan="3" style="vertical-align: middle">@c</td>
                            <td rowspan="3" style="vertical-align: middle">@item.Upazila</td>
                            <td>BADC</td>
                            <td>@item.PDBCountGroupByBADC</td>
                            <td>@item.REBCountGroupByBADC</td>
                            <td>@Convert.ToDouble(item.PDBCountGroupByBADC + item.REBCountGroupByBADC)</td>
                            <td>@item.AreaCountGroupByBADSAndElectricityEngines</td>
                            <td>@item.FarmrsCountGroupByBADSAndElectricityEngines</td>
                            <td>@item.UnitCountGroupByBADSAndDieselEngines</td>
                            <td>@item.AreaCountGroupByBADSAndDieselEngines</td>
                            <td>@item.FarmrsCountGroupByBADSAndDieselEngines</td>
                            <td>@Convert.ToDouble(item.PDBCountGroupByBADC + item.REBCountGroupByBADC + item.UnitCountGroupByBADSAndDieselEngines)</td>
                            <td>@Convert.ToDouble(item.AreaCountGroupByBADSAndElectricityEngines + item.AreaCountGroupByBADSAndDieselEngines)</td>
                            <td>@Convert.ToDouble(item.FarmrsCountGroupByBADSAndElectricityEngines + item.FarmrsCountGroupByBADSAndDieselEngines)</td>


                        </tr>
                        <tr>
                            <td>Others</td>
                            <td>@item.PDBCountGroupByOthers</td>
                            <td>@item.REBCountGroupByOthers</td>
                            <td>@Convert.ToDouble(item.PDBCountGroupByOthers + item.REBCountGroupByOthers)</td>
                            <td>@item.AreaCountGroupByOthersAndElectricityEngines</td>
                            <td>@item.FarmrsCountGroupByOthersAndElectricityEngines</td>
                            <td>@item.UnitCountGroupByOthersAndDieselEngines</td>
                            <td>@item.AreaCountGroupByOthersAndDieselEngines</td>
                            <td>@item.FarmrsCountGroupByOthersAndDieselEngines</td>
                            <td>@Convert.ToDouble(item.PDBCountGroupByOthers + item.REBCountGroupByOthers + item.UnitCountGroupByOthersAndDieselEngines)</td>
                            <td>@Convert.ToDouble(item.AreaCountGroupByOthersAndElectricityEngines + item.AreaCountGroupByOthersAndDieselEngines)</td>
                            <td>@Convert.ToDouble(item.FarmrsCountGroupByOthersAndElectricityEngines + item.FarmrsCountGroupByOthersAndDieselEngines)</td>

                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>@Convert.ToDouble(item.PDBCountGroupByBADC + item.PDBCountGroupByOthers)</td>
                            <td>@Convert.ToDouble(item.REBCountGroupByBADC + item.REBCountGroupByOthers)</td>
                            <td>@Convert.ToDouble(item.PDBCountGroupByBADC + item.REBCountGroupByBADC + item.PDBCountGroupByOthers + item.REBCountGroupByOthers)</td>
                            <td>@Convert.ToDouble(item.AreaCountGroupByBADSAndElectricityEngines + item.AreaCountGroupByOthersAndElectricityEngines)</td>
                            <td>@Convert.ToDouble(item.FarmrsCountGroupByBADSAndElectricityEngines + item.FarmrsCountGroupByOthersAndElectricityEngines)</td>
                            <td>@Convert.ToDouble(item.UnitCountGroupByBADSAndDieselEngines + item.UnitCountGroupByOthersAndDieselEngines)</td>
                            <td>@Convert.ToDouble(item.AreaCountGroupByBADSAndDieselEngines + item.AreaCountGroupByOthersAndDieselEngines)</td>
                            <td>@Convert.ToDouble(item.FarmrsCountGroupByBADSAndDieselEngines + item.FarmrsCountGroupByOthersAndDieselEngines)</td>
                            <td>@Convert.ToDouble(item.PDBCountGroupByBADC + item.REBCountGroupByBADC + item.PDBCountGroupByOthers + item.REBCountGroupByOthers + item.UnitCountGroupByBADSAndDieselEngines + item.UnitCountGroupByOthersAndDieselEngines)</td>
                            <td>@Convert.ToDouble(item.AreaCountGroupByBADSAndElectricityEngines + item.AreaCountGroupByOthersAndElectricityEngines + item.AreaCountGroupByBADSAndDieselEngines + item.AreaCountGroupByOthersAndDieselEngines)</td>
                            <td>@Convert.ToDouble(item.FarmrsCountGroupByBADSAndElectricityEngines + item.FarmrsCountGroupByOthersAndElectricityEngines + item.FarmrsCountGroupByBADSAndDieselEngines + item.FarmrsCountGroupByOthersAndDieselEngines)</td>

                        </tr>
                        c++;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>