@model IEnumerable<BADCIrrigationEquipmentSurvey.Models.DataModels.CropInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crops Information</h2>

<p>
    <a asp-action="Create">Add a Crop</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CropId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CropName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CropId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeasonInfo.SeasonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CropName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CropId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CropId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CropId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
