@model IEnumerable<BADCIrrigationEquipmentSurvey.Models.DataModels.DivisionInfo>

@{
    ViewData["Title"] = "Division Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DivCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DivName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DivCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DivName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.DivCode">Details</a>
                    @*<a asp-action="Edit" asp-route-id="@item.DivCode">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DivCode">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DivCode">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
