@model IEnumerable<BADCIrrigationEquipmentSurvey.Models.DataModels.UpazilaInfo>

@{
    ViewData["Title"] = "Upazila Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictInfo.DistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpazCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpazName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DistCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictInfo.DistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpazCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpazName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.UpazCode">Details</a>
                    @*<a asp-action="Edit" asp-route-id="@item.UpazCode">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.UpazCode">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.UpazCode">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
